In [3]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [4]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [5]:
li = ["abc", 34, 4.34, 23]

In [9]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line
string that uses triple quotes."""

In [7]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1]

'abc'

In [8]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [5]:
st = "Hello World"
st[1]

'e'

In [11]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[-3]

('abc', (2, 3))

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1]

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1:2]

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2:]

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:]

In [13]:
t = [1, 2, 4, 5]
3 in t

True

In [14]:
t = [1, 2, 4, 5]
4 in t

True

In [15]:
t = [1, 2, 4, 5]
4 not in t

False

In [16]:
a = 'abcde'
'c' in a

True

In [17]:
t = [1, 2, 4, 5]
'cd' in a

True

In [18]:
t = [1, 2, 4, 5]
'ac' in a

False

In [19]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [20]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [21]:
"Hello" + "" + "World"

'HelloWorld'